<div class=" row mb-1 custom-border">
  <div class="col-md-2 border-right pt-3 text-center">
        <img src="/product.png" width="100px" alt="produit">
  </div>

  <div class="col-md-4 border-right">
    <div class="col">
      <div class="row">
        <div class="col md-1">
          <i class="fas fa-info-circle"></i></div>
        <div class="col md-11">Code article</div>
      </div>
      <div class="row">
        <div class="col md-1">
          <i class="fas fa-info-circle"></i></div>
        <div class="col md-11">Code article</div>
      </div>
      <div class="row">
        <div class="col md-1">
          <i class="fas fa-dollar-sign"></i></div>
        <div class="col md-11">Prix HT</div>
      </div>
      <div class="row">
        <div class="col md-1">
          <i class="fas fa-dollar-sign"></i></div>
        <div class="col md-2">Prix TTC</div>
      </div>

    </div>
  </div>

  <div class="col-md-3 d-flex align-items-center">
    <div class="row">
      <div class="col-md-2">
        <i class="fas fa-flag"></i></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Code Catégorie</div>
          <div class="col-md-12">Description Catégorie</div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-3 d-flex align-items-center">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-primary">
          <i class="fas fa-pencil"></i>&nbsp; Modifier</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i>&nbsp; Supprimer</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn  btn-info">
          <i class="far fa-list-alt "></i>&nbsp; Détails</button>
      </div>
    </div>
  </div>
</div>
